body {
    position: relative;
    min-height: 1000px;
}
h1 {
    display: inline-block;
    margin: 20px 10px 20px 0;
}
.details dl{
    float: left;
    width: 250px;
    margin-right: 10px;
}
dt {
    float: left;
    margin-right: 10px;
}
dd {
    padding-left: 80px;
    padding-bottom: 10px;
}
form label {
    margin-top: 10px;
}
form ul {
    list-style-type: none;
    padding-left: 0;
}
form ul li {
    float: left;
    width:  250px;
    padding-left: 0;
    margin-right: 20px;
}
form textarea {
    width: 250px;
    height: 150px;
    border: 1px solid #AAAAAA;
}
.table.clients .client:hover,
.table.collections .collection:hover,
.table.bows .bow:hover,
.table.bills .bill:hover,
.table.suppliers .supplier:hover,
.table.product-types .product-type:hover
{
    background-color: #EEE;
    cursor: pointer;
}
.clearfix{
    clear: left;
}

.error-message {
    color: red;
    padding-left: 10px;
    font-size: 18px;
}
.container {
    position: relative;
}
/**
    Navigation
*/
.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.nav.navbar-nav a{
    padding-top: 0px;
    height: 50px;
    padding-left: 12px;
    padding-bottom: 0px;
    line-height: 50px;
}

.nav.navbar-nav .icon
{
    width: 28px;
    height: 35px;
    display: block;
    float: left;
    padding-right: 0px;
    margin-right: 7px;
    margin-top: 5px;
    background-repeat: no-repeat;
}

.nav.navbar-nav .client
{
    background: url("../img/sprites/nav.png");
    background-position: -32px 4px;
    background-repeat: no-repeat;
}
.nav.navbar-nav a:hover .client,
.nav.navbar-nav .active .client
{
    background: url("../img/sprites/nav.png");
    background-position: 0px 4px;
    background-repeat: no-repeat;
}

.nav.navbar-nav .collection
{
    background: url("../img/sprites/nav.png");
    background-position: -32px -32px;
    background-repeat: no-repeat;
}
.nav.navbar-nav a:hover .collection,
.nav.navbar-nav .active .collection
{
    background: url("../img/sprites/nav.png");
    background-position: 0px -32px;
    background-repeat: no-repeat;
}

.nav.navbar-nav .search
{
    background: url("../img/sprites/nav.png");
    background-position: -34px -65px;
    background-repeat: no-repeat;
}
.nav.navbar-nav a:hover .search,
.nav.navbar-nav .active .search
{
    background: url("../img/sprites/nav.png");
    background-position: -2px -65px;
    background-repeat: no-repeat;
}

.nav.navbar-nav .home
{
    background: url("../img/sprites/nav.png");
    background-position: -34px -95px;
    background-repeat: no-repeat;
}
.nav.navbar-nav a:hover .home,
.nav.navbar-nav .active .home
{
    background: url("../img/sprites/nav.png");
    background-position: -3px -95px;
    background-repeat: no-repeat;
}

.nav.navbar-nav .bill
{
    background: url("../img/sprites/nav.png");
    background-position: -32px -124px;
    background-repeat: no-repeat;
}
.nav.navbar-nav a:hover .bill,
.nav.navbar-nav .active .bill
{
    background: url("../img/sprites/nav.png");
    background-position: -1px -124px;
    background-repeat: no-repeat;
}

.nav.navbar-nav .supplier-section
{
    background: url("../img/sprites/nav.png");
    background-position: -105px 5px;
    background-repeat: no-repeat;
}
.nav.navbar-nav a:hover .supplier-section,
.nav.navbar-nav .active .supplier-section
{
    background: url("../img/sprites/nav.png");
    background-position: -77px 5px;
    background-repeat: no-repeat;
}

.nav.navbar-nav .supplier
{
    background: url("../img/sprites/nav.png");
    background-position: -105px 5px;
    background-repeat: no-repeat;
}
.nav.navbar-nav a:hover .supplier,
.nav.navbar-nav .dropdown-menu .active .supplier
{
    background: url("../img/sprites/nav.png");
    background-position: -77px 5px;
    background-repeat: no-repeat;
}

.nav.navbar-nav .product
{
    background: url("../img/sprites/nav.png");
    background-position: -105px 5px;
    background-repeat: no-repeat;
}
.nav.navbar-nav a:hover .product,
.nav.navbar-nav .dropdown-menu .active .product
{
    background: url("../img/sprites/nav.png");
    background-position: -77px 5px;
    background-repeat: no-repeat;
}

.nav.navbar-nav .product-type
{
    background: url("../img/sprites/nav.png");
    background-position: -105px 5px;
    background-repeat: no-repeat;
}
.nav.navbar-nav a:hover .product-type,
.nav.navbar-nav .dropdown-menu .active .product-type
{
    background: url("../img/sprites/nav.png");
    background-position: -77px 5px;
    background-repeat: no-repeat;
}

.nav.navbar-nav .dropdown-menu {
    top: 101%;
    padding: 0;
}
.nav.navbar-nav .caret {
    border-top-color: #AAAAAA;
    border-bottom-color: #AAAAAA;
}
.nav.navbar-nav .dropdown-toggle:hover .caret,
.nav.navbar-nav .active .dropdown-toggle .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}
/**
    Popups
*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.popup {
    position: relative;
    background: #FFF;
    border: 2px #555555 solid;
    width: 70%;
    margin: 100px auto;
    padding: 0px 20px 20px 20px;
}
.popup.loading {
    font-size: 50px;
    padding: 250px 200px;
    margin: 100px auto 300px auto;
}
.popup-open {
    overflow: hidden;
}
/**
    Options
*/
.options {
    position: absolute;
    top: 30px;
    right: 20px;
}
.add,
.add:hover {
    display: inline-block;
    cursor: pointer;
    color: #2d9f16;
}
.add:hover {
    text-decoration: underline;
}
.edit,
.edit:hover {
    cursor: pointer;
    color: #f7b400;
}
.edit:hover {
    text-decoration: underline;
}
.delete,
.delete:hover {
    display: inline;
    cursor: pointer;
    color: #d81515;
}
.delete:hover {
    text-decoration: underline;
}
.back,
.back:hover {
    cursor: pointer;
    color: #999;
}
.back:hover {
    text-decoration: underline;
}
.list-options {
    text-align: right;
    width: 220px;
}
.del-attachment,
.del-attachment:hover {
    color: red;
    text-decoration: line-through;
}
.bow-is-it-done,
.bill-is-paid {
    background: rgba(0, 0, 0, 0.04);
}
/**
    Client
*/
.table.clients td{
    line-height: 38px;
}
.client-filter {
    margin-right: 10px;
}
.collection-list,
.bill-list,
.product-list {
    position: relative;
    clear: left;
}
.collection-list .options,
.bill-list .options,
.product-list .options {
    top: 10px;
}
/**
    Collection
*/
.table.collections .collection td{
    line-height: 40px;
}
.table.collections .collection .center{
    padding-left: 30px;
}
.bow-list{
    position: relative;
    clear: left;
}
.bow-list .options{
    top: 10px;
}
.bow-list .list-options {
    text-align: right;
    width: 100px;
}
.bow-list .list-options .edit{
    float: left;
}

/**
    Bows
*/
.details.bows dd,
.details.bills dd{
    padding-left: 0px;
}
.details.bows .attachment,
.details.bills .attachment {
    width: 1000px;
}
.details.bows .attachment ul,
.details.bills .attachment ul{
    list-style-type: none;
    padding-left: 0;
}
.details.bows .attachment ul li,
.details.bills .attachment ul li{
    float: left;
    margin-left: 10px;
}

/**
 Bills
*/
.bills .list-options {
    width: 100%;
}
.bills .list-options .delete{
    float: right;
}

/**
    Search
*/
.highlight {
    color: red;
    font-weight: bold;
}

#search-form {
    position: relative;
}
#search-form #search{
    position: absolute;
    top: 5px;
    left: 300px;
}

/**
    Supplier
*/
.table.suppliers td{
    line-height: 38px;
}
.table.suppliers .name{
    width: 100%;
}
.supplier-filter {
    margin-right: 10px;
}
.suppliers .list-options .delete{
    float: right;
}

/**
    Product
*/
.table.products td{
    width: 30%;
}
.products .list-options .delete{
    float: right;
}
.table.products .product:hover {
    background-color: #EEE;
}

/**
    Product Type
*/
.table.product-types .name{
    width: 100%;
}
.product-types .list-options .delete{
    float: right;
}