h1 {
    display: inline-block;
    margin: 20px 10px 20px 0;
}
.details dl{
    float: left;
    width: 250px;
    margin-right: 10px;
}
dt {
    float: left;
    margin-right: 10px;
}
dd {
    padding-left: 80px;
    padding-bottom: 10px;
}
form label {
    margin-top: 10px;
}
form ul {
    list-style-type: none;
    padding-left: 0;
}
form ul li {
    float: left;
    width:  250px;
    padding-left: 0;
    margin-right: 20px;
}
form textarea {
    width: 250px;
    height: 150px;
    border: 1px solid #AAAAAA;
}
.table.clients .client:hover,
.table.collections .collection:hover,
.table.bows .bow:hover{
    background-color: #EEE;
    cursor: pointer;
}
.clearfix{
    clear: left;
}

/**
    Navigation
*/
.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.nav.navbar-nav a{
    padding-top: 0px;
    height: 50px;
    padding-left: 12px;
    padding-bottom: 0px;
    line-height: 50px;
}

.nav.navbar-nav .icon
{
    width: 28px;
    height: 35px;
    display: block;
    float: left;
    padding-right: 0px;
    margin-right: 7px;
    margin-top: 5px;
    background-repeat: no-repeat;
}

.nav.navbar-nav .client
{
    background: url("../img/sprites/nav.png");
    background-position: -32px 5px;
}
.nav.navbar-nav a:hover .client,
.nav.navbar-nav .active .client
{
    background: url("../img/sprites/nav.png");
    background-position: 0px 5px;
}

.nav.navbar-nav .collection
{
    background: url("../img/sprites/nav.png");
    background-position: -32px -32px;
}
.nav.navbar-nav a:hover .collection,
.nav.navbar-nav .active .collection
{
    background: url("../img/sprites/nav.png");
    background-position: 0px -32px;
}

.nav.navbar-nav .search
{
    background: url("../img/sprites/nav.png");
    background-position: -34px -65px;
}
.nav.navbar-nav a:hover .search,
.nav.navbar-nav .active .search
{
    background: url("../img/sprites/nav.png");
    background-position: -2px -65px;
}

.nav.navbar-nav .home
{
    background: url("../img/sprites/nav.png");
    background-position: -34px -95px;
}
.nav.navbar-nav a:hover .home,
.nav.navbar-nav .active .home
{
    background: url("../img/sprites/nav.png");
    background-position: -3px -95px;
}

/**
    Options
*/
.options {
    position: absolute;
    top: 100px;
    right: 70px;
}
.add,
.add:hover {
    color: #2d9f16;
}
.edit,
.edit:hover {
    color: #f7b400;
}
.delete,
.delete:hover {
    display: inline;
    cursor: pointer;
    color: #d81515;
}
.delete:hover {
    text-decoration: underline;
}
.back,
.back:hover {
    color: #999;
}
.list-options {
    text-align: right;
    width: 220px;
}
/**
    Client
*/
.table.clients td{
    line-height: 38px;
}
.client-filter {
    margin-right: 10px;
}
.collection-list{
    position: relative;
    clear: left;
}
.collection-list .options{
    top: 10px;
}
.options.client-details {
    right:  120px;
    width: 205px;
}

/**
    Collection
*/
.table.collections .collection td{
    line-height: 40px;
}
.table.collections .collection .center{
    padding-left: 30px;
}
.bow-list{
    position: relative;
    clear: left;
}
.bow-list .options{
    top: 10px;
}
.bow-list .list-options {
    text-align: right;
    width: 100px;
}

/**
    Bows
*/
.details.bows dd{
    padding-left: 0px;
}

/**
    Search
*/
.highlight {
    color: red;
    font-weight: bold;
}